@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        color: theme(colors.gray.50);
        background-color: #030305;
        scrollbar-color: theme(colors.indigo.900) transparent;
        scroll-behavior: smooth;
    }

    html:has(#sidebar[aria-expanded="true"]) {
        overflow: hidden;
    }

    #content {
        @apply w-full xl:w-[theme(screens.lg)];
    }
}

article svg {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    vertical-align: -0.125em;
}

code {
    counter-reset: step;
    counter-increment: step 0;
}

code .line::before {
    content: counter(step);
    counter-increment: step;
    width: 1rem;
    margin-left: .5rem;
    margin-right: 1.5rem;
    display: inline-block;
    text-align: right;
    color: theme(colors.gray.500);
}
